body {
	margin: 0 auto;
	box-sizing: border-box;
	background-color: #f1d3bd;
	font-family: "Kumbh Sans";
	font-weight: bold;
}

h2 {
	font-family: "Kaushan Script";
	font-style: normal;
	font-weight: 400;
	font-size: 4em;
	line-height: 1.2em;
	margin-left: 5%;
}

.main {
	margin: 0 5em;
}

.desc {
	background-color: white;
	display: flex;
	align-items: center;
}

img {
	width: 33em;
}

p {
	font-size: 40px;
	text-align: center;
	line-height: 1.2em;
}
