body {
	margin: 0 auto;
	box-sizing: border-box;
	background-color: #f1d3bd;
}

.side-bar {
	height: 100%; /* Full-height: remove this if you want "auto" height */
	width: 10em; /* Set the width of the sidebar */
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	background-color: rgba(188, 174, 174, 1);
	overflow-x: hidden; /* Disable horizontal scroll */
	padding-top: 1em;
}

.side-bar a {
	text-decoration: none;
	color: black;
}

.checkbox {
	width: 20px;
	display: block;
}

.main-content {
	margin-left: 12em;
}

h2 {
	font-size: 32px;
}

.product-1,
.product-2 {
	display: flex;
}

.product-1 > p,
.product-2 > p {
	font-size: 23px;
	margin-top: 0;
}

.history-1,
.history-2 {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.book-img {
	width: 150px;
	padding-left: 2em;
}

.book-info {
	display: flex;
	flex-direction: column;
	margin-top: -4.5em;
	padding: 0 2em;
}

.book-info > p {
	font-size: 18px;
}

span {
	display: block;
	text-align: center;
}

.book-info h4 {
	margin-bottom: -0.4em;
}

h4 {
	font-family: "Kaushan Script";
	font-size: 30px;
	font-weight: 100;
}

.book-actions {
	display: flex;
	align-items: center;
	padding: 0 2em;
}

.fav-icon {
	width: 35px;
	margin-right: 2em;
}

input[type="submit"] {
	padding: 1em 2em;
	font-size: 1em;
	font-weight: bold;
	background-color: white;
	border: none;
	text-transform: uppercase;
}

.copies {
	display: flex;
	padding-left: 3em;
}

p:nth-child(2) {
	margin-left: 2em;
}

.solid {
	border-top: 8px solid black;
	border-radius: 5px;
	width: 95%;
}

.product-2 {
	margin-top: 5em;
}
