body {
	margin: 0 auto;
	box-sizing: border-box;
	/* background-image: url("/Users/juanmalone/Desktop/Reskill-Americans-Projects/library-recreation/assets/background.png"); */
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	background-color: #b6a497;
}
